body {
    background:#deea2ed5;
}
h1 {
    color:darkgreen;
    background: fuchsia;
}
h2 {
    color:#1460AA;
}
article {
    background: #78ebcb;
}
.main-text {
    color: darkblue;
}

#kasprowy {
    background-color: palevioletred;
}

h3 {
    color: darkgreen;
}

main h3 {
    color: darkred;
}